<!DOCTYPE html>
<form action ="{% url 'diceroller:roll' %}" method = "post">
{% csrf_token %}
    <head>
        <title>Diceroller</title>
    </head>

    <body>
        <header>
            <h1>Roll setup</h1>
        </header>
        <main>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <p>
                <label for="number_of_dice">Number of dice</label></br>
                <input type = "number" name = "number_of_dice" id = "number_of_dice" value = "{{ choice.number_of_dice }}" min="1" max="100" required>

            </p>
            <p>
                <label for="dice_walls">Dice walls</label></br>
                <select id="dice_walls" name="dice_walls" required>
                    <option value = 2>2</option>
                    <option value = 3>3</option>
                    <option value = 4>4</option>
                    <option value = 6>6</option>
                    <option value = 8>8</option>
                    <option value = 10>10</option>
                    <option value = 12>12</option>
                    <option value = 20>20</option>
                    <option value = 100>100</option>
                </select>
            

            </p>
            
        <input type="submit" value="Roll">
        </main>
    </body>
</form>